div.home-container {
    padding-top: 175px;
    background: midnightblue;
  }
  
  section#home h1 {
    font-size: 36px;
  }
  
  section#home h2 {
    font-size: 36px;
    margin-bottom: 20px;
    animation-delay: 0.5s;
  }
  
  section#home a {
    animation-delay: 1s;
  }
  
  section#home button {
    background: rgba(204, 204, 204, 0);
    color: black;
    border: 2px solid black;
  }
    
  section#home button:hover {
    background-color: #8ee4ef;
    color: white;
  }
  
  section#home i {
    margin-left: 10px;
  }
  
  span.name {
    color: #24a0ed;
    font-size: 48px;
  }

@media (min-width: 800px) {
    .home {
        flex-direction: row;
        justify-content: space-between;
    }
    .home .title,
    .home .person {
        width: 50%;
        margin-top: 0;
        text-align: left;
        font-size: 25px;
    }
    .home .person img {
    width: 100%;
    }
}