/* section#contact p {
    margin-bottom: 40px;
} */

form { 
    max-width:420px; 
    margin:50px auto; 
}

[type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:lightblue;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color: azure;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-3px;
    font-weight:700;
}
  
[type="submit"]:hover { 
    background:midnightblue; 
}