nav {
  background-color: midnightblue;
}

nav a {
  color: azure;
}

nav a:hover {
  transform: scale(1.2);
  color: azure;
}

nav i {
  margin: 10px;
}

nav i:hover {
  transform: scale(1.2);
  color: azure;
}

a.nav-link {
    color: azure;
    font-size: 15px;
}

a.nav-link:hover {
    transform: scale(1.2);
    color: azure;
}