footer {
    font-size: 16px;
    text-align: center;
    padding-bottom: 25px;
  }
  
  footer i.back-to-top {
    position: relative;
    top: 25px;
    color: midnightblue;
    font-weight: bold;
  }
  
  footer i.back-to-top:hover {
    color: midnightblue;
    transform: scale(1.2);
  }
  
  i.social-link {
    margin: 25px;
    color: midnightblue;
  }
  
  i.social-link:hover {
    transform: scale(1.2);
    color: midnightblue;
  }

  footer p {
      color: midnightblue;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }