html {
  scroll-behavior: smooth;
}

section {
  display: flex;
  min-height: 650px;
  text-align: center;
}

div.page-container {
  padding-top: 100px;
  position: relative;
}

div.page-container h1 {
  font-size: 36px;
  color: midnightblue;
  width: auto;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid midnightblue;
}